#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Idea
#################
**/*.iml
.idea/

#################
## Maven
#################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#################
## Logger Files
#################
/rabc-weapon-rack-node/logs/
/rabc-weapon-rack-impl/logs/
/rabc-weapon-rack-api/logs/

#################
## Configuration Files
#################
/rabc-weapon-rack-node/conf/
/rabc-weapon-rack-impl/conf/
/rabc-weapon-rack-api/conf/

#################
## Libext Files
#################
/rabc-weapon-rack-node/libext/

#################
## Opt Files
#################
/rabc-weapon-rack-node/opt/

#################
## Optext Files
#################
/rabc-weapon-rack-node/optext/
